<a href="https://colab.research.google.com/github/Katty7398/deber/blob/main/Actividad_2_de_Clase_30_oct_2023_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
}

# **Diccionario**

In [ ]:
miDiccionario = {'cat':'bonito', 'dog':'angry', 'lion':'strong'}

print(type(miDiccionario))

for key, value in miDiccionario.items():
  print(f'key {key}, value {value}')
  print('key %s, value %s'%(key,value))
  print('the key value is: {} and the value is: {}'.format(key, value))
miDiccionario['monkey']='so cute'

print('------------------')
print(miDiccionario)

<class 'dict'>
key cat, value bonito
key cat, value bonito
the key value is: cat and the value is: bonito
key dog, value angry
key dog, value angry
the key value is: dog and the value is: angry
key lion, value strong
key lion, value strong
the key value is: lion and the value is: strong
------------------
{'cat': 'bonito', 'dog': 'angry', 'lion': 'strong', 'monkey': 'so cute'}

In [ ]:
tmp=list()

for i in range(1,101,1):
  tmp.append(i)
print(tmp)
print('------------------')

tmp2=list()
for i in range(0,101,1):
  if i%2==0:
    tmp2.append(i)
print(tmp2)
print('------------------')

aux=[ i  for i in range (1,101,2)]
print(aux)
aux=[ i  for i in range (1,101)  if i%2==0]
print(aux)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
------------------
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
------------------
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
tmplist=[i**2 for i in range(1,101) if i%2==0]
print(tmplist)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [1]:
def upperCase(valString):
  pass